.ingredients :first-child {
  margin-top: 5px;
}

.ingredients {
  margin-top: 7px;
}

.ingredients :last-child {
  margin-top: 2px;
}

.checkbox {
  cursor: pointer;
}

.checkbox > input {
  appearance: none;
  transition-duration: 0.3s;
  background-color: var(--mustard);
  cursor: pointer;
}

.checkbox > input:checked + span::before {
  content: "\2714";
  display: block;
  color: black;
  position: absolute;
  left: 0.1rem;
  top: 0.1rem;
}
