.offcanvas {
  width: 45vw;
}

.mt-7\.5 {
  margin-top: 30px;
}

@media only screen and (max-width: 540px) {
  .offcanvas {
    width: 60vw;
  }
}

@media only screen and (min-width: 975px) {
  #dropdown {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.body * {
  color: var(--mustard);
}

#nav * {
  color: var(--mustard);
}

footer * {
  color: var(--mustard);
}

.inner-dropdown a:hover {
  background-color: var(--grey);
}

.centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.outline {
  color: var(--mustard) !important;
  text-shadow: 3px 3px 0 var(--black), -1px -1px 0 var(--black),
    1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
}

#btn-close:focus {
  box-shadow: 0 0 0 0.25rem var(--mustard);
}

#btn-close {
  opacity: 1;
}

#nav * :hover {
  color: var(--pink) !important;
}

button:hover .arrow-down {
  fill: var(--pink) !important;
}
