@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rajdhani:wght@500&display=swap');

:root {
  --gold: #ffd700;
  /* for gold hover */
  --mustard: #ffb300;
  /* for mustard hover */
  --corn: #ffbf00;
  --red: #c2240b;
  --light-red: #d22b2b;
  --black: #151515;
  --grey: #3f3f3f;
}

* {
  background-color: var(--black);
}

hr {
  margin-bottom: 15px;
  margin-top: 10px;
  background-color: red;
  border-top-width: 2px;
  padding-bottom: 2px;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

:not(.banner-head) {
  font-family: 'Nunito', sans-serif;
}

:focus {
  outline: none;
}

.link {
  text-decoration: none;
  color: var(--red) !important;
  position: relative;
  transition: 0.3 all;
}

.link:hover {
  color: var(--light-red) !important;
}

.link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffb401;
  transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover::before {
    right: 0;
    left: auto;
    width: 0%;
  }
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}
