@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rajdhani:wght@500&display=swap');

:root {
  --gold: #fff000;
  --mustard: #ffb300;
  --corn: #ffbf00;
  --red: #d70600;
  --light-red: #d22b2b;
  --black: #202020;
  --white: #fff;
  --grey: #3f3f3f;
}

body {
  background-color: var(--black);
  height: 100vh;
}

h2 {
  font-size: 3rem !important;
  margin-bottom: 50px !important;
  /* margin: 8vh 0 !important; */
}

h3 {
  font-size: 3rem !important;
  margin-bottom: 5vh !important;
  color: var(--light-red) !important;
  font-weight: 600 !important;
}

::-webkit-scrollbar {
  display: none !important;
}

* {
  background-color: var(--black);
  font-family: 'Nunito', sans-serif;
  transition: all 0.1s;
  user-select: none;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

img {
  pointer-events: none;
}

hr {
  margin-bottom: 15px !important;
  margin-top: 10px !important;
  background-color: var(--red);
  border-top-width: 2px;
  padding-bottom: 2px;
}

.link {
  text-decoration: none;
  color: var(--red) !important;
  position: relative;
}

.link:hover {
  color: var(--light-red) !important;
}

.link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffb401;
  transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover::before {
    right: 0;
    left: auto;
    width: 0%;
  }
}

* {
  transition: all 0.1s;
}

.inherit-background * {
  background-color: inherit;
}

.blockimg {
  max-height: 340px;
}

.row-span-1-imp {
  grid-row: 1/1;
}
