@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.event-btn {
  background-color: var(--red);
  color: var(--gold);
  border: none;
}

.event-btn:hover {
  background-color: var(--light-red);
  color: var(--gold);
}

h2 {
  font-size: 3rem !important;
}

h3 {
  font-size: 3rem !important;
  margin-bottom: 5vh !important;
}

.container_online {
  margin: 0 auto 0 10vw;
  width: 40%;
}
