.directions {
  margin-top: 16px;
  list-style-type: none;
}

.num-circle {
  width: 24px;
  height: 24px;
  margin-right: 0.75rem;
  background-color: var(--mustard);
  color: var(--red);
  padding-top: 1.25px;
  padding-left: 6.5px;
  border-radius: 50%;
}
