.directions {
  margin-top: 16px;
  list-style-type: none;
}

.num-circle {
  width: 24px;
  height: 24px;
  margin-right: 0.75rem;
  font-size: 80%;
  background-color: var(--mustard);
  color: var(--red);
  padding: 3px 8px;
  border-radius: 50%;
}
