@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.banner {
  height: auto;

}

@media only screen and (max-width: 600px) {
  .banner {
    height: 45vh;
  }
}

.banner-text {
  font-family: 'Lato', sans-serif!important;
  font-size: 10vw;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
}

